{
    "presets": [],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-react-jsx",
        [ "react-intl", {
            "messagesDir": "./build/messages",
        }]
    ]
}
